circle {
  fill: rgb(31, 119, 180);
  fill-opacity: .25;
  stroke: rgb(31, 119, 180);
  stroke-width: 1px;
}

.leaf circle {
  fill: #ff7f0e;
  fill-opacity: 1;
}

text {
  font: 12px sans-serif;
  font-weight: 800;
}

.A circle {
  fill: #ff0000;
}
.B circle {
  fill: #ff2000;
}
.C circle {
  fill: #ff4000;
}
.D circle {
  fill: #ff5f00;
}
.E circle {
  fill: #ff7f00;
}
.F circle {
  fill: #ff9f00;
}
.G circle {
  fill: #ffbf00;
}
.H circle {
  fill: #ffdf00;
}
.I circle {
  fill: #ffff00;
}
.J circle {
  fill: #ccff00;
}
.K circle {
  fill: #99ff00;
}
.L circle {
  fill: #66ff00;
}
.M circle {
  fill: #33ff00;
}
.N circle {
  fill: #00ff00;
}
.O circle {
  fill: #00ff40;
}
.P circle {
  fill: #00ff80;
}
.Q circle {
  fill: #00ffbf;
}
.R circle {
  fill: #00ffff;
}
.S circle {
  fill: #00bfff;
}
.T circle {
  fill: #0080ff;
}
.U circle {
  fill: #0040ff;
}
.V circle {
  fill: #0000ff;
}
.W circle {
  fill: #2300ff;
}
.X circle {
  fill: #4600ff;
}
.Y circle {
  fill: #6800ff;
}
.Z circle {
  fill: #8b00ff;
}

